name: EdgeWatch BSP Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "BSP version (e.g. 1.0.1)"
        required: true
        type: string

permissions:
  contents: write

jobs:
  bsp-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository (with submodules)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get install -y \
          git xz-utils build-essential autoconf flex bison libssl-dev bc libncurses-dev \
          python3 python3-setuptools python3-dev python3-yaml python3-jsonschema python3-pyelftools \
          swig yamllint libgnutls28-dev make  sudo  bash-completion passwd tar zip unzip rsync wget \ 
          lsb-release file xz-utils  bzip2  device-tree-compiler  u-boot-tools jq liblzo2-2 cpio  dosfstools gh          libgnutls28-dev


      - name: Authenticate GitHub CLI
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token

      - name: Build BSP (errors only)
        run: |
          set -o pipefail
          make build VERSION=${{ inputs.version }} \
            > build.log 2> >(tee build.err >&2)
      
      - name: Upload build logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-logs
          path: |
            build.log
            build.err



